<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Professeur</div>
    <div class="page__content shadow p-3 position-relative" *ngIf="mode===1">
        <!-- <div class="page__content-data position-absolute text-center"> -->
        Gestion des utilisateur
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let app of list">
                        <td>{{app.id }}</td>
                        <td>{{app.nom }}</td>
                        <td> {{app.prenom}} </td>
                        <td> {{app.numero}} </td>
                        <td>

                            <button>
                                    <mat-icon class="modifier"  (click)="editer(app.id)">editer</mat-icon>
                                </button>
                            <button>
                                    <mat-icon class="danger" (click)="supprimerId(app.id)">delete</mat-icon>
                                </button>
                            <button>
                                    <mat-icon class="detail" (click)="getDetails(app.id)">info</mat-icon>
                                </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- </div> -->

    </div>
    <!-- details page -->
    <div class="page__content shadow p-3 position-relative" *ngIf="mode===2">
        <button (click)="retour()">
              <mat-icon >arrow_back</mat-icon>
        </button>&nbsp; Details
        <!-- <div class="page__content-data position-absolute text-center"> -->
        <div class="det">
            <b>Nom :</b> &nbsp; &nbsp;{{stocData.nom}} <br>
            <b>Prénom :</b> &nbsp; &nbsp;{{stocData.prenom}} <br>
            <b>Profile :</b>&nbsp; &nbsp; {{stocData.profile}} <br>
            <b>Téléphone :</b>&nbsp; &nbsp;{{stocData.numero}} <br>
            <b>Expérience :</b>&nbsp; &nbsp; {{stocData.anciennete}} <br>
            <b>Disponiblité :</b>&nbsp; &nbsp; {{stocData.disponibilite}} <br>

            <br>
            <button mat-raised-button class="button1" (click)="editer(stocData.id)">Modifier</button>
        </div>
        <!-- </div> -->
    </div>
    <!-- modification page -->
    <div class="page__content shadow p-3 position-relative" *ngIf="mode===3">
        <button (click)="retour()">
            <mat-icon >arrow_back</mat-icon>
      </button> Modifier
        <div class="det">
            <form class="table-form">
                <table class="table-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Nom</mat-label>
                                <input matInput [value]="del.nom">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Prénom</mat-label>
                                <input matInput [value]="del.prenom">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Profile</mat-label>
                                <input matInput [value]="del.profile">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Addresse</mat-label>
                                <input matInput [value]="del.addresse">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <p>
                    <mat-form-field class="table-full-width" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input matInput [value]="del.numero">
                    </mat-form-field>
                    <mat-form-field class="table-full-width" appearance="fill">
                        <mat-label>Matières</mat-label>
                        <input matInput [value]="del.specialite">
                    </mat-form-field>
                    <mat-form-field class="table-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [value]="del.email">
                    </mat-form-field>
                </p>

                <table class="table-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Anciennete</mat-label>
                                <input matInput [value]="del.anciennete">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="table-full-width" appearance="fill">
                                <mat-label>Profile</mat-label>
                                <input matInput [value]="del.profile">
                            </mat-form-field>
                        </td>
                        <td>
                            <button type="submit" mat-button class="button2">Valider</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
