<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Accueil</div>
    <div class="page__content shadow p-3 position-relative">
        <mat-grid-list cols="3" rowHeight="2:2">
            <mat-grid-tile>
                <mat-icon>people</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon>school</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon>history</mat-icon>
            </mat-grid-tile>
        </mat-grid-list><br>
        <mat-grid-list cols="4" rowHeight="2:2">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </div>
